<project name="UserRole" path="D:/work/UserRole/UserRole/WebRoot/WEB-INF" destpath="D:/work/UserRole/UserRole" actionWhenTargetExists="0">
<projectscript>
</projectscript>
<database>
<driver>
<![CDATA[MySQLClient]]>
</driver>
<host>
<![CDATA[localhost]]>
</host>
<port>
<![CDATA[3306]]>
</port>
<username>
<![CDATA[root]]>
</username>
<password>
<![CDATA[000000]]>
</password>
<dbname>
<![CDATA[user]]>
</dbname>
</database>
<folder name="d" path="d" destpath="d" actionWhenTargetExists="0" skipWhenGenerateAll="0">
</folder>
<workingsets>
</workingsets>
</project>
