<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<property name="connection.username">root</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/user
		</property>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="myeclipse.connection.profile">user</property>
		<property name="connection.password">000000</property>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<mapping resource="org/role/pojo/Trole.hbm.xml" />
		<mapping resource="org/role/pojo/Tauth.hbm.xml" />
		<mapping resource="org/role/pojo/Torganization.hbm.xml" />
		<mapping resource="org/role/pojo/Tlog.hbm.xml" />
		<mapping resource="org/role/pojo/Tuser.hbm.xml" />
		<mapping resource="org/role/pojo/Tgroup.hbm.xml" />
	</session-factory>

</hibernate-configuration>