body { 
    margin:0px;
    padding:7px 0px 20px 0px;
    font-family: Arial, ו, Helvetica, sans-serif;
	background:url(../images/bg.gif) repeat-x ;
	overflow-x:hidden;
	overflow-y:yes;
	width:97%
	
}

.main_operation {
padding:5px;
border:1px solid #2fa1c6;
background:#FFFFFF;
}

.state{
margin:7px 0px 0px 0px;
list-style:none;
font-size:12px;
}


/*li.ok {
border:1px dashed #7fc253;
background:#ecffe0;
list-style:none;
font-size:12px;
height:40px;
}
*/

.state li.state {
border:1px dashed #2fa1c6;
background:url(../images/accept.gif) left center no-repeat #e9f6fb;
}


.editor{
background:#f0f0f0;
border:1px #989898 solid;
padding:3px;
}

.new_tag {
margin:7px 0px 0px 0px;
list-style:none;
font-size:12px;
}

.new_tag ul,.state ul{
margin:0px;
padding:0px;
list-style:none;}

.new_tag li.alert ,.new_tag li.ok, .state li.state {
padding:5px 0px 5px 30px;
list-style:none;
margin-top:5px;
}

.new_tag li.alert {
background:url(../images/alert.gif) left center no-repeat #fff4ee;
border:1px dashed #ff6600;
}
.new_tag li.ok {
background:url(../images/accept.gif) left center no-repeat #f9ffea/*#ecffe0*/;
border:1px dashed #7fc253;
}
.new_tag li.input .textinput{
height:18px;
padding-top:4px;
border:1px solid #aaaaaa;
width:30%;}

.new_tag li.input .textareainput{
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font-size:14px;
height:70px;
width:99%;
}

.new_tag li.input .about_textareainput{
line-height:20px;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font-size:14px;
height:300px;
width:99%;
}
.new_tag li.input .uploadinput{
border:1px solid #aaaaaa;
width:99%;}

.new_tag li.input{
color:#999999;
margin-top:2px;
padding:0px 0px 0px 0px;
}
.important {
font-size:14px;
color:#FF0000;
}
.new_tag li.inputradio{
margin-top:2px;
padding:0px 0px 0px 7px;
height:20px;
}

.new_tag li.attachment{
font-size:14px;
margin-top:10px;
padding:5px 0px 0px 20px;
height:20px;
}

.new_tag li.eat,.new_tag li.about,.new_tag li.shopping,.new_tag li.see,.new_tag li.name {
font-size:14px;
font-weight:bold;
color:#555555;
margin-top:10px;
padding:5px 0px 0px 20px;
height:20px;
background:url(../images/important.gif) no-repeat left top;
border-bottom:0px dashed #333333;
}

.btn_blue {
padding:0px 5px 0px 5px;
background:url(../images/btn_blue.gif) #3b5998 repeat-x;
height:22px;
border:1px solid #000000;
color:#FFFFFF;
font-size:14px;
font-weight:bold;}

.new_tag fieldset{
border:1px solid #cccccc; 
}